.article {
  padding: 0 0 30px 0;
}

.article-body {
  margin: 20px 4px 0 25px;
}

.sidebar {
  padding: 0 0 0 30px;
}

.title {
  border-left: 4px solid #29abe2;
  margin: 30px 30px;
  padding: 10px;
}

.title-details {
  margin: -20px 0 0 25px;
}

.body {
  margin: 0 0 0 25px;
}

.sidebar {
  margin: 30px 0 0 0;
}

.icon {
  margin: 4px;
}

.badge {
  margin: -4px 0 0 8px;
}

.article-text {
  margin-left: 4%
}

.article-text p {
  line-height: 1.7;
}

// for tag cloud
.s { font-size: 1.0em; }
.m { font-size: 1.2em; }
.l { font-size: 1.4em; }
.xl { font-size: 1.6em; }
