.bottom-nav-element {
  font-weight: 300;
  font-size: 25px;
  padding: 16px 32px;
}

.no-decoration {
  text-decoration: none;
}

.home h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 15%;
}

.nav-area {
  margin-top: 5%;
}

.coloer-black {
  color: black
}

.icon {
  margin: 4px;
}
